/*서열표 기본 스타일 8개 한줄*/
.grade{
    display: flex;
    margin: 18px 12px;
}
.gradeBox{
    height: 85px;
    width: 85px;
    margin: 0 1.5rem;
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    background-image: url("../assets/img/grade/circle.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.thumbBox{
    height: 130px;
}
.judgeBox{
    position: relative;
    width: 86px;
    height: 24px;
    bottom: 93px;
    right: 11px;
    background-color: #c4c4c4;
    border: 0;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}
.sName{
    position: relative;
    border: 1px solid white;
    z-index: 1;
}
.sLevel{
    position: relative;
    bottom: 68px;
    right: 22px;
    z-index: 2;
}
.sBorder{
    position: relative;
    bottom: 90px;
    right: 11px;
    z-index: 0;
}
.sDelete{
    position: relative;
    bottom: 90px;
    z-index: 2;
}
.infoBox{
    position: fixed;
    width: 81px;
    height: 81px;
    overflow: hidden;
    z-index: 999;
    background-color: white;
    opacity: 0.7;
}

.gradeSelect{
    animation: mangie-pop 1.3s linear infinite;
    transform-origin: 50% 50%;
}

.boardTitle{
    margin: 0 2rem;
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
}
.createBox{
    margin-left: 1rem
}
@media (min-width: 1600px){
    .levelBox{
        display: grid;
        grid-template-columns: repeat(8, 110px);
    }
    .boardImage{
        background-image: url("../assets/img/titleImage/6b15lv_0.jpg");
    }
}

@media (min-width: 1490px) and (max-width: 1599px){
    .levelBox{
        display: grid;
        grid-template-columns: repeat(7, 110px);
    }
    .boardImage{
        background-image: url("../assets/img/titleImage/6b15lv_1.jpg");
    }
}

@media (min-width: 1380px) and (max-width: 1489px){
    .levelBox{
        display: grid;
        grid-template-columns: repeat(6, 110px);
    }
    .boardImage{
        background-image: url("../assets/img/titleImage/6b15lv_2.jpg");
    }
}

@media (max-width: 1379px){
    .levelBox{
        display: grid;
        grid-template-columns: repeat(5, 110px);
    }
    .boardImage{
        background-image: url("../assets/img/titleImage/6b15lv_3.jpg");
    }
    .cct{
        visibility: hidden;
    }
}

@keyframes mangie-pop {
    100%{
        transform: rotate(360deg);
    }
}