.grade{
    max-width: 1000px;
    display: flex;
    margin: 18px 18px;
}
.levelBox{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.gradeBox{
    height: 85px;
    min-width: 85px;
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    background-image: url("../assets/img/grade/circle.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.judgeBox{
    width: 86px;
    height: 24px;
    background-color: #c4c4c4;
    border: 0;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}
.sDelete{
    position: relative;
    bottom: 90px;
    z-index: 2;
}
.infoBox{
    position: absolute;
    width: 120px;
    height: 50px;
    overflow: hidden;
    font-weight: bold;
    font-size: 0.7rem;
    z-index: 999;
    background-color: white;
    border-radius: 15%;
    opacity: 0.7;
}
.infoBox>p{
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}
.gradeSelect{
    animation: mangie-pop 1.3s linear infinite;
    transform-origin: 50% 50%;
}
.thumbBox{
    display: block;
    height: 91px;
    position: relative;
    margin-bottom: 40px;
    margin-left: 16px;
}
.thumbWrap{
    display: block;
    width: 100%;
    height: 100%;
}
.thumbWrap:hover{
    cursor: pointer;
}
.thumbWrap>.sName{
    position: absolute;
    top: 4px;
    left: 4px;
    border: 1px solid white;
    z-index: 1;
}
.thumbWrap>.sLevel{
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 2;
}
.thumbWrap>.sBorder{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.boardTitle{
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
}
.createBox{
    margin-left: 1rem;
}
.boardImage{
    background-image: url("../assets/img/titleImage/6b15lv_0.jpg");
}

@media (max-width: 1250px){
    #main{
        left: 0;
        transform: translate(0%, 0%);
    }
    .cct{
        visibility: hidden;
    }
    .boardTitle{
        width: 100%;
        height: 250px;
        background-repeat: no-repeat;
        background-position-x: center;
    }
}
@media (min-width: 1250px) {
    .board {
        min-width: 1000px;
    }
}

@keyframes mangie-pop {
    100%{
        transform: rotate(360deg);
    }
}